

#NavBar {
    background-color: #2a4b64 !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-bottom: 50px;
}
    
#titleNavbar{
    color: white ;
}

#btnVerListaProductos{
    background-color: #cab188;
}

.btn{
    color: white;
}
